*{
	margin: 0;
	padding: 0;
	font-family: 'Roboto Mono', monospace
}
.header{
	min-height: 100vh;
	width: 100%;
	height: 100%;
	background-image: linear-gradient(rgba(4,11,20,0.1),rgba(4,11,20,0.9)), url(Images/background.jpg);
	background-size:contain;
	background-position: center;
	background-blend-mode: darken;
	position: relative;
}

nav{
	display: flex;
	padding: 2% 6%; 
	justify-content: space-between;
	align-items: center;
}

.nav-links{
	flex: 1;
	text-align: right;
}

.nav-links ul li{
	list-style: none;
	display: inline-block;
	padding: 8px 12px;
	position: relative;
}

.nav-links ul li a{
	color: #17bdeb;
	text-decoration: none;
	font-size: 17px;
	font-style: bold;
}

.neon-text{
	color: #fff;
	text-shadow: 
      0 0 7px #0fa,
      0 0 50px #0fa;
}

.nav-links ul li::after{
	content: '';
	width: 0%;
	height: 1px;
	background: #d6be42;
	display: block;
	margin: auto;
	transition: 0.5s;
}

.nav-links ul li:hover::after{
	width: 100%;
}

.text-box{
	width:90%;
	color: #fff;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	text-align: center;
}

.text-box h1{
	font-size: 62px;
}

.text-box p{
	margin: 10px 0 40px;
	font-size: 25px;
	color: rgb(217, 255, 0);
}

.intro-Button{
	display: inline-block;
	text-decoration: none;
	color: #fff;
	border: 1px solid #fff;
	padding: 12px 34px;
	font-size: 13px;
	background: transparent;
	position: relative;
	cursor: pointer; 
}

.intro-Button:hover{
	border: 1px solid #f44336;
	background: #f44336;
	transition: 1s;
}

nav .fa{
	display: none;
}

.tips{
	min-height: 100vh;
	width: 100%;
	height: 100%;
	background-color: white;
	position: relative;
}
.info-pages{
	color: black;
	text-align: center;
}

dl {
    border: 3px double #ccc;
    padding: 0.5em;
  }
dt {
    float: left;
    clear: left;
    width: 100px;
    text-align: left;
    font-weight: bold;
    color: green;
	margin: 0 0 0 250px;
  }
 
 dd {
    margin: 0 0 0 110px;
    padding: 0 0 0.5em 0;
}

@media(max-width: 700px){
	.text-box h1{
		font-size: 20px;
	}	
	.nav-links ul li{
		display: block;
	}
	.nav-links{
		position: absolute;
		background: #01121c;
		height: 100vh;
		width: 200px;
		top: 0;
		right: -200px;
		text-align: left;
		z-index: 2;
		transition: 1s;
	}
	nav .fa{
		display: block;
		color: #fff;
		margin: 10px;
		font-size: 22px;
		cursor: pointer;
	}
	.nav-links ul{
		padding: 20px;
	}

}




